parameters:
    level: 8
    paths:
        - src
        - tests
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#[^:]+::__debugInfo\(\) return type has no value type specified in iterable type array#'
        - '#Attribute class [^\s]+ does not have a constructor and must be instantiated without any parameters#'
        - '#Unsafe usage of new static#'
