name: PHP Testing
on: [push]

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.2', '3.3.0-rc1']
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.162.0
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: composer cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: composer install
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          ./composer.phar install
      - name: Run PHPStan
        run: |
          ./composer.phar lint
      - name: Run linter
        run: |
          ./composer.phar lint:fix
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.2', '3.3.0-rc1']
    steps:
      - uses: actions/checkout@v3
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.162.0
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: composer cache
        uses: actions/cache@v3
        with:
          path: ${{ github.workspace }}/vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: composer install
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: |
          ./composer.phar install
      - name: Run test
        run: |
          ENV=ci ./vendor/bin/phpunit tests/
